<footer>
    <p class="header-p">Jetez un coup d'œil sur :</p>
    <a class="icon-footer" target="_blank" href="https://github.com/HamzaChl">
        <i class="fab fa-github"></i>
    </a>
    <a class="icon-footer" href="https://www.instagram.com/hamzaachl/">
        <i class="fab fa-instagram"></i>
    </a>
    <a class="icon-footer" href="https://wa.me/32486923182">
        <i class="fa-brands fa-whatsapp"></i>
    </a>
</footer>