<header class="fade-in">
    <p class="header-p">Hamza's Portfolio <span class="special-word"> designer/developper</p></span>
    <nav>
        <a href="/" class="nav-item">Home</a>
        <a href="/projects" class="nav-item">Projects</a>
        <a href="" class="nav-item">Contact</a>
    </nav>
    
</header>