<%- include('partials/head') %>
<%- include('partials/header') %>
<!--  -->
<main>
    <div class="background-text">
        <span>404</span>
    </div>
    <section class="error">

        <h1>Oups, your lost ?</h1>
        <a href="/" class="nav-item project-a"><i class="fa-solid fa-arrow-left-long"></i> Go back to home</a>
    </section>

</main>
<%- include('partials/foot') %>
