<!-- <link rel="stylesheet" href="/css/contact-form.css"> -->
<%- include('partials/head') %>
<%- include('partials/header') %>
<div class="background-text">
    <span>Contact</span>
</div>

<main>
    <section class="about fade-in">
        <h1>contact</h1>
        <p class="header-p"><span class="special-word">Contactez-moi </span>  <br>Je suis à la recherche de nouveaux défis et <br> d'opportunités qui me permettront de combiner <br> ma sensibilité au design avec mes compétences en développement.</p>
    </section>
    <article class="contact-article margin">
        <figure class="contact-figure margin contact-img"></figure>
        <figure class="contact-figure form-contact margin">
        </figure>
    </article>
</main>

<%- include('partials/footer') %>
<%- include('partials/foot') %>
