<!-- <link rel="stylesheet" href="/css/contact-form.css"> -->
<%- include('partials/head') %>
<%- include('partials/header') %>
<div class="background-text">
    <span>Contact</span>
  </div>

<main>
    <section class="about fade-in">
        <h1>contact</h1>
        <p class="header-p"><span class="special-word">Hamza, 23-year-old</span> former design student <br>I am looking forward to new challenges and <br> opportunities that will allow me to combine <br> my design sensibility with my developing skills.</p>
      </section>
      <article class="contact-article margin">
        <figure class="contact-figure margin contact-img"></figure>
        <figure class="contact-figure form-contact margin">
        </figure>
        

      </article>
</main>

<%- include('partials/footer') %>
<%- include('partials/foot') %>
