<%- include('partials/head') %>
<%- include('partials/header') %>

<main>
    <section class="about fade-in">
        <h1>ABOUT</h1>
        <p class="header-p"><span class="special-word">Hamza, 23-year-old</span> former design student <br>I am looking forward to new challenges and <br> opportunities that will allow me to combine <br> my design sensibility with my developing skills.</p>
      </section>
</main>

<%- include('partials/footer') %>
<%- include('partials/foot') %>
