<%- include('partials/head') %>
<%- include('partials/header') %>
<main>
  <div class="content">
    <!-- <h1 class="animate-h1 head-text">a <span class="">student</span> with a passion for web development, I'm training to become a ↬ <span>full-stack developer</span>.</h1> -->
    <h1 class="head-text">Passionate about <span class="">web</span> development, I'm training to become a ↬ <span>full-stack developer</span>.</h1>
    <p class="header-p fade-in">Check my latest  <a href="/projects"><span class="special-word">projects</span></a></p>
    <section class="projects-slide">
      <article class="projectindividual bodyslim-preview fade-in">
        
        <p >Bodyslim Centre<br><span class="light">2024</span></p>
        <div class="icon-contianer">
          <div class="icon-label web">webdev</div>
          <div class="icon-label design">design</div>
        </div>
      </article>
      <article class="projectindividual fade-in double">
        <p>Magic The Gathering (School project)<br><span class="light">2024</span></p>
        <div class="icon-contianer">
          <div class="icon-label coding">full-stack </div>
          <div class="icon-label web">webdev</div>
          <div class="icon-label design">design</div>
        </div>
      </article>
      <article class="projectindividual fade-in">
        <p>Chandelle Botanique<br><span class="light">2024</span></p>
        <div class="icon-contianer">
          <div class="icon-label web">webdev</div>
          <div class="icon-label design">design</div>
        </div>
      </article>
      <article class="projectindividual fade-in double">
        <p>MileStone (School project)<br><span class="light">2024</span></p> 
        <div class="icon-contianer">
          <div class="icon-label coding">full-stack</div>
          <div class="icon-label web">webdev</div>
          <div class="icon-label design">design</div>
        </div>
      </article>
      <article class="projectindividual freezmix-preview fade-in">
        <p>FreezMix Maroc<br><span class="light">2024</span></p>
        <div class="icon-contianer">
          <div class="icon-label web">webdev</div>
          <div class="icon-label design">design</div>
        </div>
      </article>
      <article class="projectindividual fade-in explore">
        <!-- <p>Bloom-Bar Brussels<br><span class="light">2023</span></p>
        <div class="icon-contianer">
          <div class="icon-label web">webdev</div>
          <div class="icon-label design">design</div>
        </div> -->
        <a href="/projects" class="nav-item explore-text">Explore more </a>
      </article>
    </section>
  </div>
  <section class="about fade-in">
    <h1>ABOUT</h1>
    <p class="header-p"><span class="special-word">Hamza, 23-year-old</span> former design student <br>I am looking forward to new challenges and <br> opportunities that will allow me to combine <br> my design sensibility with my developing skills.</p>
    <article class="full-screen-project"></article>
  </section>
</main>
<%- include('partials/footer') %>
<%- include('partials/foot') %>

