<%- include('partials/head') %>
<%- include('partials/header') %>
<main>
    <h1 class="animate-h1 fade-in">My projects</h1>
    <p class="header-p fade-in">Check all my <span class="special-word">projects</span></p>
    <section class="container-projects">
        <article class="projectindividual fade-in">
        
            <p >Project holder<br><span class="light">2024</span></p>
            <div class="icon-contianer">
              <div class="icon-label coding">full-stack </div>
            <div class="icon-label web">webdev</div>
              <div class="icon-label design">design</div>
            </div>
          </article>


          <article class="projectindividual fade-in">
            <p >Project holder<br><span class="light">2024</span></p>
            <div class="icon-contianer">
              <div class="icon-label coding">full-stack </div>
            <div class="icon-label web">webdev</div>
              <div class="icon-label design">design</div>
            </div>
          </article>


          <article class="projectindividual fade-in">
            <p >Project holder<br><span class="light">2024</span></p>
            <div class="icon-contianer">
              <div class="icon-label coding">full-stack </div>
            <div class="icon-label web">webdev</div>
              <div class="icon-label design">design</div>
            </div>
          </article>
          

          <article class="projectindividual fade-in">
            <p >Project holder<br><span class="light">2024</span></p>
            <div class="icon-contianer">
              <div class="icon-label coding">full-stack </div>
            <div class="icon-label web">webdev</div>
              <div class="icon-label design">design</div>
            </div>
          </article>


          <article class="projectindividual fade-in">
            <p >Project holder<br><span class="light">2024</span></p>
            <div class="icon-contianer">
              <div class="icon-label coding">full-stack </div>
            <div class="icon-label web">webdev</div>
              <div class="icon-label design">design</div>
            </div>
          </article>


          <article class="projectindividual fade-in">
            <p >Project holder<br><span class="light">2024</span></p>
            <div class="icon-contianer">
              <div class="icon-label coding">full-stack </div>
            <div class="icon-label web">webdev</div>
              <div class="icon-label design">design</div>
            </div>
          </article>


          <article class="projectindividual fade-in">
            <p >Project holder<br><span class="light">2024</span></p>
            <div class="icon-contianer">
              <div class="icon-label coding">full-stack </div>
            <div class="icon-label web">webdev</div>
              <div class="icon-label design">design</div>
            </div>
          </article>


    </section>
</main>

<%- include('partials/footer') %>
<%- include('partials/foot') %>
