:root {
  --color-background: #090909;
  --color-text: white;
  --color-primary: #c3eee5;
  --color-secondary: #283048;
  --color-gradient: #859398;
  --color-accent: #e8e8e8;
  --color-light-bg: rgb(190, 190, 190);
  --color-light-text: black;
  --color-design-bg: rgb(120, 176, 196);
  --color-web-bg: rgb(231, 119, 119);
  --color-coding-bg: rgb(130, 196, 120);
  --color-project-bg: #ffffff;
  --color-project-hover: opacity(70%);
  --color-project-hover-active: opacity(100%);
  --color-header-border: #ffffff;
  --color-technology: rgb(99, 99, 99);
}

.light-mode {
  --color-background: #f3f3f3;
  --color-text: #181818;
  --color-primary: #859398;
  --color-secondary: #283048;
  --color-accent: #181818;
  --color-light-bg: rgb(240, 240, 240);
  --color-light-text: #333333;
  --color-design-bg: rgb(120, 176, 196);
  --color-web-bg: rgb(231, 119, 119);
  --color-coding-bg: rgb(130, 196, 120);
  --color-project-bg: #333333;
  --color-project-hover: opacity(70%);
  --color-project-hover-active: opacity(100%);
  --color-header-border: #181818;
  --color-technology: lightgray;
}

html {}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-text);
}

.main-with-background {
  padding: 0;
  position: relative;
  width: 100%;
}

.background-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: -1;
}

.content {
  position: relative;
  z-index: 1;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  z-index: 10;
}

header>nav {
  display: flex;
  gap: 40px;
  align-items: center;
}

.login-area {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-item {
  position: relative;
  text-decoration: none;
  color: var(--color-text);
}

.project-a {
  width: auto;
  max-width: fit-content;
}

.nav-item::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: var(--color-text);
  transition: width 0.3s ease;
}

.nav-item:hover::after {
  width: 100%;
}

.active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: var(--color-text);
  transition: width 0.3s ease;
}

/*
TEXT-STYLING
*/

h1 {
  font-family: "Inter", sans-serif;
  font-size: 81px;
  font-weight: normal;
  text-transform: uppercase;
}

span {}

.special-word {
  background: -webkit-linear-gradient(var(--color-primary), var(--color-secondary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
}

p {
  font-size: 17px;
  text-transform: uppercase;
  color: var(--color-text);
}

a {
  text-decoration: none;
  color: var(--color-text);
}

.margin {
  margin-top: 67px;
  margin-bottom: 67px;
  margin-left: 0px;
  margin-right: 0px;
}

.header-p {
  color: var(--color-text);
}

.header-p a {
  text-decoration: none;
}

.easter-egg {
  position: relative;
  text-decoration: none;
  color: var(--color-text);
  overflow: hidden;
}

.easter-egg::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: transparent;
  transition: width 0.3s ease, background 0.3s ease;
}

.easter-egg:hover::after {
  width: 100%;
  background: -webkit-linear-gradient(var(--color-primary), var(--color-secondary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

main,
header,
footer {
  padding: 0 20px;
}

.projects-slide {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 67px;
  margin-bottom: 67px;
}

.container-projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.head-text {
  margin-top: 67px;
  margin-bottom: 67px;
  font-weight: 500;
}

.head-text-special {
  font-size: bold;
  -webkit-text-stroke: 1px var(--color-accent);
  color: transparent;
}

.banner-text h1 {
  margin: 0;
  font-size: 11vw;
}

.banner-text {
  margin: 100px 0 100px 0;
  text-align: center;
}

.alt-head {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--color-text);
}

.projectindividual {
  height: 23vw;
  min-height: 347.758px;
  filter: var(--color-project-hover);
  transition: all 1s ease;
  display: flex;
  align-items: left;
  padding: 20px;
  text-align: left;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 10px;
  border: .5px solid var(--color-project-bg);
  /* background: -webkit-linear-gradient(var(--color-primary), var(--color-secondary)); */
  background: linear-gradient(355deg, rgba(80, 173, 240, 0.15) 0%, var(--color-background) 40%);
  /* cursor: pointer; */
  position: relative;
  overflow: hidden;
  /* Pour cacher tout débordement */
  box-sizing: border-box;
  max-width: 721px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.projectindividual .content-overlay {
  color: white;

}

.projectindividual.double {
  grid-column: span 2;
}

.projectindividual:hover {
  filter: var(--color-project-hover-active);
  transform: translateY(-5px);
  box-shadow: 10px 10px 16px -6px var(--color-primary);
}

.light {
  background: var(--color-text);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.6;
}

.ch-b {
  background-image: url(../assets/test1.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.full-screen-project {
  height: 770px;
  width: 100%;
  border: .5px solid var(--color-project-bg);
  background: linear-gradient(355deg, rgba(80, 173, 240, 0.15) 0%, var(--color-background) 40%);
  margin-top: 67px;
  margin-bottom: 67px;
  border-radius: 10px;
  background-image: url('https://raw.githubusercontent.com/HamzaChl/portfolio-imagesUrls/main/bloombar1.png');
  background-size: cover;
  background-position: center;
}

footer {
  height: 100px;
  margin-top: 50px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

footer p {
  text-align: left !important;
}

footer p {
  margin: 0;
  padding: 0;
  display: block;
}

.icon-footer {
  color: var(--color-text);
  text-decoration: none;
  font-size: 30px;
}

.icon-footer i:hover {
  background: -webkit-linear-gradient(var(--color-primary), var(--color-secondary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.word {
  display: inline-block;
  white-space: nowrap;
}

.letter {
  display: inline-block;
  opacity: 0;
  animation: fadeIn 0.1s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.icon-container {
  display: flex;
  gap: 5px;
}

.icon-label {
  padding: 5px;
  border-radius: 10px;
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
  width: fit-content;
  text-align: center;
  cursor: pointer;
}

.technolgies {
  padding: 5px;
  border-radius: 10px;
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  background-color: var(--color-technology);
}

.technolgies-container {
  display: flex;
  gap: 5px;
}

.project-article {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
}

.project-details {
  width: 50%;
  border: .5px solid var(--color-project-bg);
  padding: 40px;
  border-radius: 10px;
  backdrop-filter: blur(4px);
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

.preview-img {
  width: 100%;
  height: auto;
  border: .5px solid var(--color-project-bg);
  border-radius: 10px;
  animation: fadeIn 0.4s forwards;
}

.image-container {
  margin: 0;
  width: 100%;
}

.icon-label:hover {
  transform: translateY(-2px);
}

.icon-label.design {
  background-color: var(--color-design-bg);
  box-shadow: -1px 5px 10px 0px rgba(var(--color-design-bg), 0.538);
}

.icon-label.webdev {
  background-color: var(--color-web-bg);
  box-shadow: -1px 5px 10px 0px rgba(var(--color-web-bg), 0.538);
}

.icon-label.full-stack {
  background-color: var(--color-coding-bg);
  box-shadow: -1px 5px 10px 0px rgba(var(--color-coding-bg), 0.538);
}

.icon-contianer {
  display: flex;
  gap: 10px;
}

.form-contact {
  display: flex;
  align-items: center;
  justify-content: center;
}

.explore {
  display: flex;
  align-items: center;
  justify-content: center;
}

#theme-icon {
  cursor: pointer;
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.background-text {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  overflow: hidden;
  z-index: -10;
  white-space: nowrap;
  transform: translateY(-50%);
  text-align: center;
}

.background-text span {
  font-size: 30vw;
  display: inline-block;
  color: transparent;
  -webkit-text-stroke: 1px var(--color-text);
  opacity: 0.08;
}

.contact-article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-content: space-between;
}

.contact-btn {
  color: black;
  color: var(--color-technology);
  border: .5px solid var(--color-project-bg);
  cursor: pointer;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  background: -webkit-linear-gradient(var(--color-primary), var(--color-secondary));
  transition: all 3s ease;
}

.contact-btn:hover {
  animation: fadeIn 0.1s forwards;

}

.project-link {
  color: var(--color-text)
}

.contact-figure {
  margin: 0;
  background-color: var(--color-project-bg);
  transition: all 1s ease;
  height: 40vw;
  border-radius: 10px;
  border: .5px solid var(--color-project-bg);
  background: linear-gradient(355deg, rgba(80, 173, 240, 0.15) 0%, var(--color-background) 40%);
}

.contact-img {
  background-image: url("../assets/marrakech.jpg");
  background-size: cover;
  background-position: center;
}

.mobile-nav {
  display: none;
}

.big-text {
  /* font-size: 5rem; */
  display: inline-block;
  color: transparent;
  width: auto;
  -webkit-text-stroke: 1px var(--color-text);
  opacity: 0.08;
  white-space: nowrap;
  /* Empêche le texte de s'étendre sur plusieurs lignes */
  overflow: hidden;
  /* Cache le texte qui dépasse */
  text-overflow: ellipsis;
  /* Ajoute des points de suspension pour le texte débordant */
}

@media screen and (max-width: 450px) {
  body {
    background-color: red;
    width: 100vw;
    overflow: hidden;
  }

  header {
    width: 100%;
  }

  .projects-slide {
    grid-template-columns: 1fr 1fr;
  }

  h1 {
    font-size: 15vw;
  }

  .container-projects {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  header>nav {
    display: none;
  }
}

@media screen and (max-width: 1300px) {
  .projects-slide {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 67px;
    margin-bottom: 67px;
  }

  .contact-article {
    /* display: flex;
    flex-direction: column;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 1000px) {
  .projects-slide {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 67px;
    margin-bottom: 67px;
    /* height: ; */
    grid-column: span 2;
    width: 100%;
  }

  .projectindividual.double {
    grid-column: 1;
  }

  .contact-article {
    display: grid;
    grid-template-columns: 1fr;
  }

  h1 {
    font-size: 61px;
  }

  .project-details {
    width: fit-content;
  }

  .container-projects {
    grid-template-columns: repeat(2, 1fr);
  }

  .banner-text h1 {
    margin: 0;
    font-size: 10vw;
  }

  .banner-text {
    margin: 100px 0 100px 0;
    text-align: center;
    max-width: 100vw;
  }
}

@media screen and (max-width: 840px) {
  .projects-slide {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 640px) {
  .desktop-nav {
    display: none;
  }

  .mobile-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  #hamburger-icon {
    cursor: pointer;
  }

  .mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* width: 100%; */
    height: 100%;
    background-color: var(--color-background);
    color: var(--color-text);
    z-index: 1000;
    /* padding-top: 20px; */
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: .5px solid var(--color-project-bg);
  }

  .mobile-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    align-items: center;
    margin: 10px;
    height: 44px;
    /* margin-right: 20px; */
  }

  .mobile-menu-nav a {
    color: var(--color-text);
    font-size: 24px;
    text-decoration: none;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    height: 20vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: .5px solid var(--color-project-bg);
  }

  #close-icon {
    /* position: absolute; */
    top: 20px;
    right: 20px;
    cursor: pointer;
  }

  .active,
  .nav-item:hover {
    background-color: rgba(138, 138, 138, 0.134);

  }
}

@media (min-width: 640px) {
  .mobile-menu {
    display: none !important;
  }
}